.featuredProductsComponent {
  position: "absolute";
  top: 60em;
}
.featuredProducts {
  height: 60vh;
  width: 100%;
  margin-top: 27em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  position: absolute;
  left: 23em;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.feature {
  margin-top: 10em;
  width: 20%;
  border-radius: 50%;
  text-align: center;
}

.feature > p {
  color: aqua;
  position: absolute;
  bottom: -9em;
  margin-left: 3em;
}
